body {
  /*background-color: red;*/
  background: #957306;
  background: linear-gradient(to bottom right, #957306, #00B9BB);
  font-family: 'Cabin', sans-serif;
  height: 900px;


}

.pics{
    margin: 0 auto;
    display: inline-block;
}

h1, h2, h3, h4{
  text-align: center;
  color: #BB2700;
}


ul{
  text-align: center;

}

li {
    display: inline-block;
    margin: 5px;
    padding: 2px;
    background-color: #00cc44;
    border-radius: 5px;
    border-width: 1px;
}

li:hover {
  scale(1);
      transition: all 200ms ease-in;
      /*transform: scale(1.1);*/
      /*background-color: #00802b;*/

}

/*a:hover {
  transition: all 200ms ease-in;
  color: yellow;
}*/

small {
  margin: 5px;
  padding: 2px;
  background-color: #00cc44;
  border-radius: 5px;
  border-width: 1px;
}

#edit_button {
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
  background-color: yellow;
  border-radius: 15px;
  border-width: 2px;
}

.row {
  margin-top: 15px;
}

.footerbuttons {
  display: block;
  margin: 0 auto;
}

.grille {
  display: block;
  margin: 0 auto;
}

.chiefsphoto{
  display: block;
  margin: 0 auto;

}

.showimage {
  display: block;
  margin: 0 auto;
}

.form-group{
  width: 600px;
  margin: 0 auto;
}

.ftimage {

  margin: 0 auto;
}
