body {
  /*background-color: red;*/
  background: #957306;
  background: linear-gradient(to bottom right, #957306, #00B9BB);
  font-family: 'Permanent Marker', cursive;
  height: 900px;


}

h1, h2, h3 {
  text-align: center;
  color: #BB2700;
}


ul{
  text-align: center;
}

li {
    display: inline-block;
    margin: 0 auto;
    padding: 8px;
    background-color: #00e699;
    border-radius: 10px;
    border-width: 3px;
}

li:hover {
  scale(1.5);
      transition: all 200ms ease-in;
      transform: scale(1.1);
      background-color: gray;

}

a:hover {
  transition: all 200ms ease-in;
  color: yellow;
}

#registration {
  margin: 0 auto;
}

#edit_button {
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
  background-color: yellow;
  border-radius: 15px;
  border-width: 2px;
}
