<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet"  href="/styles.css">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Create an Upload</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/uploads">Uploads Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<img class='grille' src="https://static1.squarespace.com/static/51b74359e4b0f643c17dc67b/t/522e9beae4b06bf96fa3590d/1378786283137/The+Art+of+Tailgating.jpg?format=500w"style="width:300px; height:250px;">
			<div class="container">

									<form action="/uploads" method="post">
										<select name="userId">
							 <% for(let i = 0; i < users.length; i++) { %>
									 <option value="<%=users[i]._id%>"><%=users[i].name%></option>
							 <% } %>
					 </select><br/>

	 				<div class="form-group">
		 			<label for="exmapleName">Title of your Experience</label>
						<input type="text" name="title" class="form-control" placeholder="title" required=true/><br>
					</div><br>

					<div class="form-group">
					<label for="exmapleSchool">Post a Photo!</label>
						<input type="text" name="url" class="form-control" placeholder="image url link" /><br/>
						</div><br>

					<div class="form-group">
					<label for="exampleTextarea">Description</label>
						<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Enter you story here." ></textarea><br>
						<input type="submit" value="Publish Experience"/>
					</form>
				</div>
				</main>
	</body>
</html>
