<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<title></title>

	</head>
	<body>
			<header>
				<div class="container">
					<div class="row">
						<div class="sixteen columns">
							<h1>Welcome to Tales of the Tailgate</h1>
							<h4>Here you can create a user account and share you favorite college football tailgating experiences. You can even upload images!</h3>
							</div>
						</div>
			<nav>
				<ul>
					<li>
						<a href="/user">Authors</a>
					</li>
					<li>
						<a href="/uploads">Articles</a>
					</li>
          <li>
            <a href="sessions/login">Login</a>
          </li>
          <li>
            <a href="sessions/register">Register</a>
          </li>
          <li>
            <a href="sessions/logout">Logout</a>
          </li>
				</ul>
			</nav>
			<div class="row">
				 <div class="col-xs-6">
				<img src="https://usatfanindex.files.wordpress.com/2015/09/usatsi_8634096.jpg?w=1000&h=665"  style="width:400px; height:300px;">
			</div>
			<div class="col-xs-6">
				<img src="http://www.tailgatingideas.com/wp-content/uploads/2015/10/Houston_Cougars.jpg" style="width:400px; height:300px;">
			</div>
		</div>
		</header>
	</body>
</html>
