
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet"  href="/styles.css">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Welcome to Tales of the Tailgate</h1>
			<h3>Here you can create a user account and share you favorite college fotoball tailgating experiences. You can even upload images!</h3>
			<nav>
				<ul class="nav nav-pills">
					<li role="presentation"><a href="/user">Tailgaters</a>
					</li>
					<li role="presentation">
						<a href="/uploads">Experiences</a>
					</li>
				</ul>
				<div class="pics">
				<img src="https://usatfanindex.files.wordpress.com/2015/09/usatsi_8634096.jpg?w=1000&h=665"  style="width:400px; height:300px;">
				<img src="http://www.tailgatingideas.com/wp-content/uploads/2015/10/Houston_Cougars.jpg" style="width:400px; height:300px;">
				<img src="https://blog.padmapper.com/wp-content/uploads/iowa-tailgate.jpg"style="width:400px; height:300px;">
			</div>
			</nav>
		</header>
	</body>
</html>
