<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles2.css">
		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
		<title></title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header-1">
        <h1>Tailgators</h1>
			</div>
      <div class="flex-container">

            <p class="navbutton"><a href="/home">Back to homepage</a></p>
            <p class="navbutton"><a href="/user/new">I'm a new tailgater!</a></p>
					</div>
		</div>
</header>
        <main>
					<div class="container-2">
						<div clas="box-5">
					<img class="chiefsphoto" src="http://zootscoop.com/wp-content/uploads/2016/10/1.-chiefs-tailgating-arrowhead-04.jpg"style="width:500px; height:300px;"><br>

					<h2>List of current Tailgaters</h2>
					<h4>click on a name below to see more info about them and their tailgating stories<h4>
          <ul>
            <% for(let i = 0; i < users.length; i++){ %>
                <li>
                    <a href="/user/<%=users[i]._id%>"><%=users[i].name%></a>
                </li>
            <% } %>
        </ul>
			</div>
			</div>
      </main>

	</header
	</body>

</html>
