
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<title></title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="sixteen columns">
						<h1>Welcome to Tales of the Tailgate</h1>
						<h4>Here you can create a user account and share you favorite college fotoball tailgating experiences. You can even upload images!</h3>
						</div>
					</div>
						<ul class="nav nav-tabs">
							<li role="presentation"><a href="/user">Check out our current Tailgaters</a></li>
						  <li role="presentation"><a href="/uploads">Check out the Experiences</a></li>
							<li class="presentation"><a href="/user/new">I'm a new tailgater! *</a></li>


					<h6>* you must create a TailGator account to upload a tailgating experience</h6>
</ul>
				<div class="row">
				   <div class="col-xs-6">
					<img src="https://usatfanindex.files.wordpress.com/2015/09/usatsi_8634096.jpg?w=1000&h=665"  style="width:400px; height:300px;">
				</div>
				<div class="col-xs-6">
				<p>For as long as there has been football, there has been tailgating. A fun experience during gameday near the stadium. Whether you enjoy the NFL, College football or even your local High School football team, Tailgating is a essential element to the full pageantry of the game</p>
				</div>
				<div class="col-xs-6">
					<img src="http://www.tailgatingideas.com/wp-content/uploads/2015/10/Houston_Cougars.jpg" style="width:300px; height:200px;">
				</div>
			</div>
				<div class="row">
					<div class="col-xs-6">
					<p>This site is for those who want to check out some great tailgate images, as well as share your own. Please be sure to register as a New Tailgator before you post.</p>
					</div>
				   <div class="col-xs-4">
					<img src="https://blog.padmapper.com/wp-content/uploads/iowa-tailgate.jpg"style="width:400px; height:300px;">
				</div>
				<div class="col-xs-6">
					<img src="http://www.endlesssimmer.com/wp-content/uploads/2009/09/tailgaters_00057-1024x682.jpg"style="width:300px; height:200px;"%>
				</div>
			</div>
		</div>
			</nav>
		</header>
	</body>
</html>
