
<!DOCTYPE html>
<html>

    <body>
		<meta charset="utf-8">
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles2.css">
		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <title></title>
  	</head>
  	<body>
  		<header>
    <div class="container">
    <div class="header-1">
    <h1>Welcome to Tales of the Tailgate</h1><br>
    <h4 class="subheader">login page</h4>
</div>
</div>
<div class="container-5">
				<div class="box-6">
<form  action="/sessions/login" method="POST">
  <div class="form-group">
    <label for="exmapleName">Username</label>
   <input type="text" name="username" value="" class="form-control" placeholder="username" required=true/><br>
  </div>
     <div class="form-group">
    <label for="exmapleSchool">Password</label>
   <input type="password" name="password" value="" class="form-control" placeholder="password"/><br>
   <div class="new_t_button">
   <button class="navbutton">Login</button>
   </div>
</form>




<% if (message) { %>
  <%= message %>
<% } %>

</body>
<footer>
  <br>
  <div class="ftimage">
 <img src="https://blog.padmapper.com/wp-content/uploads/iowa-tailgate.jpg"style="width:570px; height:300px;">
 </div>
</div>
</footer>
</html>
