
<!DOCTYPE html>
<html>

    <body>
		<meta charset="utf-8">
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles2.css">
		<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <title></title>
    </head>
    <body>
      <header>
    <div class="container">
    <div class="header-1">
    <h1>Welcome to Tales of the Tailgate</h1>
    <h4 class="subheader">register page</h4>
  </div>
  </div>
  <div class="container-5">
  				<div class="box-6">

<form action="/sessions/register" method="POST">
  <div class="form-group">
    <label for="exmapleName">Create a Username</label>
    <input type="text" name="username" value="" class="form-control" placeholder="username" required=true/><br>
  </div>
      <div class="form-group">
     <label for="exmapleSchool">Create a Password</label>
   <input type="password" name="password" value="" class="form-control" placeholder="password"/><br>
   <div class="new_t_button">
   <button class="navbutton">Register</button>
 </div>
</form>

</body>
<footer>
  <br>
  <div class="grille">
    <img src="http://www.endlesssimmer.com/wp-content/uploads/2009/09/tailgaters_00057-1024x682.jpg"style="width:570px; height:300px;"%>
  </div>
</footer>
</html>
