
<!DOCTYPE html>
<html>

    <body>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet"  href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <br>
    <h1>Welcome to Tales of the Tailgate</h1>
    <h4>register page</h4>
<br>
<br>
<form action="/sessions/register" method="POST">
  <div class="form-group">
    <label for="exmapleName">Create a Username</label>
    <input type="text" name="username" value=""class="form-control" placeholder="username" required=true/><br>
  </div>
      <div class="form-group">
     <label for="exmapleSchool">Create a Password</label>
   <input type="password" name="password" value="" class="form-control" placeholder="password"/><br>
   <button>Register</button>
</form>

</body>
<footer>
  <br>
  <<div class="col-xs-6">
    <img src="http://www.endlesssimmer.com/wp-content/uploads/2009/09/tailgaters_00057-1024x682.jpg"style="width:570px; height:300px;"%>
  </div>
</footer>
</html>
